<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlg.blog.dao.TaxonomyModelMapper">
  <resultMap id="BaseResultMap" type="com.zlg.blog.model.TaxonomyModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="content_module" jdbcType="VARCHAR" property="contentModule" />
    <result column="content_count" jdbcType="INTEGER" property="contentCount" />
    <result column="order_number" jdbcType="INTEGER" property="orderNumber" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="lng" jdbcType="DECIMAL" property="lng" />
    <result column="meta_keywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="text" jdbcType="LONGVARCHAR" property="text" />
  </resultMap>
</mapper>